@import "tailwindcss";
@import "tailwindcss";
 
/* Tailwind v4 mein dark mode aise enable hota hai */
@custom-variant dark (&:where(.dark, .dark *));
 
@media print { .no-print { display: none !important; } }
@layer base {
  html {
    font-family: 'Poppins', sans-serif !important;
    font-size:medium;
  }
}


.Toastify__toast-container {
  z-index: 99999 !important;
}
.animate-text-gradient {
  background-size: 200% auto; /* Background ko bada rakha taaki movement dikhe */
  animation: shine 4s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}